@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection,
::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0; }

textarea {
  resize: vertical; }

.hidden {
  display: none !important; }

.invisible {
  visibility: hidden; }

.centered {
  text-align: center; }

a.btn-link {
  text-decoration: none; }

body {
  margin: 0;
  font-family: Open Sans; }

.header {
  background: #3a3a3a;
  text-align: center;
  color: #ffffff;
  padding: 25px 0; }

.title {
  font-size: 1.6em;
  font-weight: 300; }

.main {
  padding: 15px;
  width: 800px;
  max-width: 100%;
  margin: 20px auto 200px auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc; }

.info {
  font-style: italic;
  font-weight: 300;
  color: #1b83b7; }

.section-header {
  font-size: 1.2em;
  font-weight: 400;
  margin-top: 15px; }

.demo-group {
  padding: 15px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px; }
  .demo-group-title {
    font-size: 1.3em;
    font-weight: 600; }

.demo-source code {
  padding-left: 15px;
  margin-right: 15px; }
