name: lint-test-build

on: [push]

jobs:
  lint-test-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1
        with:
          persist-credentials: false

      - name: Install
        run: |
          yarn install
          yarn gen-flags-components

      - name: Lint
        run: |
          yarn lint

      - name: Test
        run: |
          yarn test

      - name: Build
        run: |
          yarn build
